/* Examples one and two */
.styled-table {
    width: 100%;
    /* border collapse is the only new property for you here */
    /* try commenting it out to see what it does */
    border-collapse: collapse;
    margin: 20px auto;
}

.styled-table th,
.styled-table td {
    padding: 8px 12px;
    border: 1px solid #0099ff;
    text-align: right;
}

.styled-table th {
    background-color: #004488;
    color: #ffffff;
    font-weight: bold;
}


/* only for example three */
.styled-table .main-headings th {
    background-color: #004488;
    color: #ccffff;
    font-weight: bold;
}

.styled-table .sub-headings th,
tfoot tr td {
    background-color: #ccffff;
    color: #004488;
    font-weight: bold;
}